body{ background-color: orange;

}

.container{
    max-width: 800px;
    margin: auto;
    padding: 20px;

}


.row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}
  
  .column {
    flex: 1;
    padding: 10px;
}

button{
  color: rgb(225, 101, 56);
  display: block;
    background-color: rgb(214, 161, 60);
    border:none;
    border-radius: 50px;
    padding: 0 24px;
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
} 


.form id{
   color: rgb(32, 203, 52);font-size: 30px;margin: 20px 20px 20px 300px;

}

@media (max-width: 600px) {
    .column {
      flex: 100%;
    }

} 

.box{
  background-color:rgb(164, 161, 161);
  width: 300px;
  height:15px;
  padding: 20px;
  border: 5px;
  margin: 50px;
 
 }
 
 .box2{
     background-color:rgb(66, 63, 63);
     width: 250px;
     height:20px;
     padding: 30px;
     border: 5px solid black;
     margin: 55px;
    
 }
 
 .box3{
     background-color:rgb(52, 44, 44);
     width: 300px;
     height:150px;
     padding: 20px;
     border: 5px;
     margin: 100px;
 }
 
/*header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: #f1f9cb;
  text-decoration: none;
  padding: 5px;
}
nav a:hover {
  color: #1BF7DE;
}

@media (max-width: 767px) {
  header {
    background-color: #8e7b7b;
  }
   }

@media (max-width: 767px) {
  nav {
   font-size: 16px;
  }
 }
@media (min-width: 1200px) {
   header {
    width: 1200px;
  }
}

@media (max-width: 768px) {
  .column {
    flex: 100%;
  }
}

 .nav-links {
    display: none;
  }

.button-menu-toggle {
    display: block;
    background-color: white;
    border:none;
    border-radius: 50px;
    padding: 0 24px;
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
  }
 
  .nav-links.nav-links-responsive {
    position: absolute;
    display: flex;
    background-color: rgba(20,20,20,0.95);
    width: 100%;
    height: 100%;
    top: 70px;
    left: 0;
    flex-direction: column;
    padding-top: 200px;
    align-items: center;
    gap:70px;
    font-size: 40px;
  }
*/
.container-nav {
  display: flex;
  padding: 10px;
  height: 50px;
  background-color: rgb(112, 90, 49);
}


.navbar {
  display: flex;
  justify-content: space-between;
  width: 200%;
}
nav a:hover {
  color: rgb(225, 101, 56);
}

.brand {
  display: flex;
  align-items: center;
}


li>a {
  padding: 8px 24px;
}


li {
  list-style-type: none;
}


a {
  color: white;
  text-decoration:none;
}


.nav-links {
  display: flex;
  align-items: center;
}


.button-menu-toggle {
  display: none;
}
@media (max-width: 768px) {
  .column {
    flex: 100%;
  }


  .nav-links {
    display: none;
  }


  .button-menu-toggle {
    display: block;
    background-color: white;
    border:none;
    border-radius: 50px;
    padding: 0 24px;
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
  }
 
  .nav-links.nav-links-responsive {
    position: absolute;
    display: flex;
    background-color: rgba(20,20,20,0.95);
    width: 100%;
    height: 100%;
    top: 70px;
    left: 0;
    flex-direction: column;
    padding-top: 200px;
    align-items: center;
    gap:70px;
    font-size: 40px;


  }
}

.img-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center ;
}

header{
  display: flex;
  flex-wrap: wrap;
  justify-content: center ;
}

footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center ;
  height: 200px;

}